body
{
    background-color: #89d0ff;
}
.box
{
    border: 2px solid #cccccc;
    padding: 15px;
    margin: 0px;
}
.no-bullet
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sentence_1
{
    font-style: italic;
}