
.line-pink
{
    border: 2px solid pink;
}

.example-1>span:nth-child(2)
{
    height: 100px; width: 100px;
    border: 2px dotted blue;
}
.example-1>p:nth-child(3)
{
    height: 100px; width: 100px;
    border: 2px dotted red;
}

.example-2 p
{
    border: 2px solid green;
}
.example-2>p:nth-child(1)
{
    min-width: 150px;
}
.example-2>p:nth-child(2)
{
    max-width: 300px;
}
.example-2>p:nth-child(3)
{
    min-height: 200px;
}
.example-2>p:nth-child(4)
{
    min-height: 300px;
}

.example-3 p, .example-4 p
{
    width: fit-content;
    height: fit-content;
    border: 2px solid rgb(214, 113, 130);
}
.example-3>p:nth-child(1)
{
    padding: 10px;
}
.example-3>p:nth-child(2)
{
    padding: 10px 20px;
}
.example-3>p:nth-child(3)
{
    padding: 10px 20px 30px;
}
.example-3>p:nth-child(4)
{
    padding: 10px 20px 30px 40px;
}

.example-4>p:nth-child(1)
{
    padding: 25px 44px;
}
.example-4>p:nth-child(2)
{
    padding: 30px 22px 17px 32px;
}
.example-4>p:nth-child(3)
{
    padding: 30px;
}
.example-4>p:nth-child(4)
{
    padding: 28px 22px 15px;
}

h2.title
{
    margin-top: 0;
    margin-bottom: 0px;
}
.block-1
{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #e6a3a3;
    border: 2px dotted black;
}
.block-2
{   
    border: 2px dotted orange;
    width: 50px;
    height: 50px;
    margin: auto;
}





























