body
{
    background-color: black;
    margin-bottom: 500px;
}
.page-1
{
    background-color: lightpink;
}
.page-2
{
    background-color: skyblue;
    height: 300px;
}
.images li
{
    list-style: none;
}
.images img
{
    margin-bottom: 10px;
}
.page-1 h2, .page-1 p 
{
    min-width: 0;
    margin-left: 4%;
}
.images img, .page-2 p
{
    margin-left:2%;
}
.images #rgb
{
    margin-left: 4%;
    width: 100px;
    height: 100px;
}
.slimes img
{
    width: 300px;
    height: 300px;
}
.images li, .coloring-list li
{
    list-style:none;
}
.coloring-list>li:nth-child(odd)   
{
    background-color: yellow;
    color: red;
}
/*  
    li를 부르는 이유는 선택한 요소에서 
    몇번쨰를 호출할지를 결정하기 때문.
*/

.coloring-list>li:nth-child(2)
{
    background-color: rgba(255, 25, 158, 0.7)
}
.coloring-list>li:nth-child(4)
{
    background-color: rgba(255, 182, 193, 1)
}