*:not(.parent>#child)
{
 font-family:Georgia, 'Times New Roman', Times, serif;
}
.A
{
    color: #ff8f8f;
}
.B:not(.parent>#child)
{
    color: #80f7ff;
}
#C
{
    color: #f4c8ff;
}
.parent>#child
{
    color: rgb(101, 179, 125);
    font-family: Calibri, Arial, sans-serif;
}
#friend-1 + #friend-2
{
    font-weight: bold;
    color: rgb(228, 228, 112);
}