

.indent p
{
    margin-top: 0px;
}

.indent p:nth-child(even)
{
    text-indent: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.indent p:nth-child(even)
{
    text-indent: 20px;
    text-transform: lowercase;
}
.indent span
{
    text-transform: none;
    font-weight: bold;
}
.test span
{
    font-size: 3em;
}
.test2>p:nth-child(3)
{
    text-decoration: line-through;
}
.test2>p:nth-child(4)>a
{
    text-decoration:none;
}
/* test */
.test3
{
    width:fit-content;
    background-color:deeppink;
    color: white;
    font-weight: bold;
}
.test3>p:nth-child(odd)
{
    letter-spacing: -5px;
}
.test3>p:nth-child(even)
{
    letter-spacing: 10px;
}
.hr-decoration hr
{
    background-color:aqua;
    height:3px;
}
.shadow-text>p:nth-child(1)
{
    text-shadow: 2px 5px 5px red;
}
.shadow-text>p:nth-child(2)
{
    text-shadow: 0px -5px 10px blue;
}   
.shadow-text>p:nth-child(3)
{
    text-shadow: 1px 4px 0px lightpink;
}
.arrow
{
    font-weight: bold;
    font-size: 100px;
    color: #990;
    text-shadow: 5px 5px 4px rgb(49, 49, 1);
}






















